$z-overlay-upper:   30;
$z-overlay:         25;
$z-nav-upper:       20;
$z-nav:             15;
$z-map-04:          14;
$z-map-03:          13;
$z-map-02:          12;
$z-map-01:          11;
$z-content-overlay: 10;
$z-content-upper:   5;
$z-content:         0;
$z-background:      -1;