<div class="vpad--xxxl bg--img text--white" style="background-image: url('{{site.img}}/vh-promo-bg.jpg');">
  <div class="container">
    <div class="width--lg">
      <h2 class="title title--xxxl">Get there with Virgin Holidays</h2>
      <div class="space--sm"></div>
      <p class="text--lg">There’s a reason why Virgin Holidays are the No.1 tour operator to Florida. 30 years’ experience means you’ll find the finest, curated holiday packages to make your Florida getaway unforgettable. From resort experts to exclusive airport lounges and luxurious travel classes, find out how Virgin Holidays can make your Florida wanderlust an irresistible reality...</p>
      <div class="space--md"></div>
      <a id="track-vh-promo-btn" href="{{site.client.link}}" class="btn btn--red">Get me there</a>
    </div>
  </div>
</div>