// This is a modified version of the banner, to hold a map of florida

$map-bp: 1080px;

.map-banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 500px;
  color: $white;
  background-color: $grey;
  overflow: hidden;
  @include bp($md){ max-height: 600px; }
  @include bp($lg){ max-height: 730px; }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__wrap {
    position: absolute;
    z-index: $z-map-01;
    display: flex;
    // width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // max-width: $xxxl;
    // margin-left: auto;
    // margin-right: auto;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    // @include page-padding;
    &--map {
      z-index: $z-map-03;
      display: none;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      @include bp($map-bp){
        display: block;
        text-align: right;
        @include page-padding;
      }
    }
    &--title { z-index: $z-map-01; }
  }
  &.is-open &__wrap--map {
    display: flex;
    align-items: center;
    text-align: center;
  }
  &.is-open &__wrap--title { display: none; }
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__map-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-map-04;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($grey-darker,.33);
    text-align: left;
    padding-top: $s2;
    padding-bottom: $s2;
    @include page-padding;
    @include bp(550px){
      display: none;
    }
  }
  &__title {
    text-align: center;
    @include bp($map-bp){
      margin-right: 400px;
      text-align: left;
    }
  }
  &__mobile-ui {
    @include bp($map-bp){ display: none; }
  }
  &__corner {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: $z-map-01;
  }
  &.is-open &__corner { display: none; }
}

.map {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 660px;
  background-image: url('../img/florida-outline.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  &:before {
    // this is a hack to keep the maps aspect ratio for its width
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%; // this is roughly the height of the banner when at max width
  }
  &__marker {
    position: absolute;
    z-index: $z-content-upper;
    @include transition;
    &:hover { z-index: $z-map-04; }
  }
  $marker-icon-height: 27px;
  $marker-icon-width: 22px;
  &__marker-icon {
    position: absolute;
    top: -($marker-icon-width / 1.25);
    left: -(($marker-icon-width / 1.25) / 2); // width / 2
    display: block;
    width: ($marker-icon-width / 1.25);
    height: ($marker-icon-height / 1.25);
    background-image: url('../img/icons/map-pin-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    @include transition;
    transform-origin: bottom center;
    @include bp($lg){
      top: -$marker-icon-height;
      left: -($marker-icon-width / 2); // width / 2
      width: $marker-icon-width;
      height: $marker-icon-height;
    }
  }
  $marker-label-width: 150px;
  &__marker-label-wrap {
    position: absolute;
    top: 8px;
    left: -(($marker-label-width / 1.5) / 2);
    width: ($marker-label-width / 1.5);
    text-align: center;
    @include transition;
    @include bp($lg){
      top: 5px;
      left: -($marker-label-width / 2);
      width: $marker-label-width;
    }
    &--right {
      top: -(($marker-icon-height / 1.25) - 3);
      left: auto;
      right: (($marker-icon-width / 1.25) - 4);
      height: ($marker-icon-height / 1.25);
      width: $marker-label-width;
      text-align: right;
      @include bp($lg){
        top: -($marker-icon-height);
        right: ($marker-icon-width - 5);
        height: $marker-icon-height;
      }
    }
    // hides labels when there is no space
    display: none;
    @include bp(550px){
      display: block;
      &--right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  &__marker-label {
    display: block;
    font-family: $font-title-01;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .075rem;
    line-height: 1.25;
    text-shadow: 0 4px 25px rgba($black,.25);
    @include bp($lg){
      font-size: 12px;
    }
    &--list { font-size: ($s1 * 1.1);}
  }
  &__marker:hover &__marker-icon,
  &__marker.is-current &__marker-icon { background-image: url('../img/icons/map-pin.png'); }
  &__marker.is-current &__marker-icon {
    transform: scale(1.5);
    @include bp(550px){
      transform: scale(1);
    }
  }
  &__list {
    li {
      padding-top: $s-4;
      padding-bottom: $s-4;
      &.is-current { color: $v-red-dark; }
      a { color: $white;
      font-weight: 500; }
    }
  }
}

.map__marker--greater-fort-lauderdale .map__marker-label-wrap--right { width: 85px; }

.corner-map-btn {
  background-color: $v-red;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-top-left-radius: 100%;
  cursor: pointer;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
  &__text {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: $s-1;
    letter-spacing: .25em;
    line-height: 1.33;
    max-width: 65px; // needed for IE
  }
  &__icon {
    width: 25px;
    height: 32px;
    margin-bottom: 3px;
  }
}