<a id="track-virgin-holidays-logo{{include.placement | prepend: '-'}}" class="logo logo--vh{% if include.small %} logo--vh-sm{% endif %}" href="{{site.client.link}}">
  <img src="{{site.img}}/logo/virgin-holidays.svg" alt="{{site.client.name}} Logo">
</a>
<a id="track-visit-florida-logo{{include.placement | prepend: '-'}}" class="logo logo--vf{% if include.small %} logo--vf-sm{% endif %}" href="http://www.visitflorida.com/en-us.html">
  <img src="{{site.img}}/logo/visit-florida.png" alt="Visit Florida Logo">
</a>