// general styles for the project that wouldn't be a reuseable component

.width {
  margin-right: auto;
  margin-left: auto;
  &--xs { max-width: ($sm / 2); }
  &--sm { max-width: $sm; }
  &--md { max-width: $md; }
  &--lg { max-width: $lg; }
  &--xl { max-width: $xl; }
  &--xxl { max-width: $xxl; }
}

.title-sup {
  font-size: .33em;
  line-height: 1;
  vertical-align: top;
  padding-top: 8px; display: inline-block; // minor nudges to adjust for raleway line height
}