---
layout: default
---

<div class="container vpad--xxl">

  <div class="width width--lg text--center">
    <p class="text--lg">{{page.intro}}</p>
    <div class="space--md"></div>
    <img class="logo--{{page.id}}" src="{{site.img}}/logo/{{page.logo}}" alt="{{page.title}} Logo">
  </div>

  <div class="space--xxl"></div>

  <div class="row row--xxl-4-4-4">
    {% for feature in page.features %}
    <div class="col">
      <div class="width width--md">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{feature.id}}.jpg');"></div>
        <div class="space--sm"></div>
        <h2 class="title title--sm">{{feature.title}}</h2>
        <p>{{feature.description}}</p>
        <div class="space--lg"></div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="space--md"></div>

  <div class="text--center">
    <a href="{{page.link}}" class="btn btn--red btn--lg">Find Out More</a>
  </div>

</div>